.form-border{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border-style: solid;
    margin-left:25%;
    margin-right:25%;
    grid-gap: 1rem;
    padding: 50px 50px 50px 50px;
}

.badge-border{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    font-size: 12px;
    border-style: solid;
    margin-left:25%;
    margin-right:25%;
    
}

.word-border{
    padding: 5px 5px 5px 5px;
    /* margin-left:25%;
    margin-right:25%; */
    grid-gap: 1rem;

}

.textBox-border{
    border-style: solid;
    padding: 0px 0px 50px 0px;
}